@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
    margin: 0;
    padding-top: 100px;
    /* font-family: var(--bs-body-font-family); */
    /* font-size: var(--bs-body-font-size); */
    /* font-weight: var(--bs-body-font-weight); */
    /* line-height: var(--bs-body-line-height); */
    /* color: var(--bs-body-color); */
    /* text-align: var(--bs-body-text-align); */
    background-color: var(--bs-body-bg);
    /* -webkit-text-size-adjust: 75%; */
    /* -webkit-tap-highlight-color: rgba(0, 0, 0, 0); */
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  /* padding: 10px; */
  /* --bs-gutter-x: rem; */
  /* --bs-gutter-y: 0; */
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  /* padding-left: calc(var(--bs-gutter-x) * 0.5); */
  margin-right: auto;
  margin-left: auto;
}

.color{
    background: #F2F2F2;
}

.align-items-center {
    align-items: center !important;
}

.d-flex {
    display: flex !important;
}

.text-center {
    text-align: center !important;
}

.display-2 {
    /* font-size: calc(1.575rem + 3.9vw); */
    /* font-weight: 300; */
    line-height: 1;
}

.mb-4 {
    margin-bottom: 1rem !important;
}

@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 480px !important;
  }
}

@media (min-width: 768px) {
  .container-md, .container-sm, .container {
    max-width: 700px !important;
  }
}

@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 960px !important;
  }
}

@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px !important;
  }
}

@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1320px !important;
  }
}

@media (max-width: 320px) {
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container{
        max-width: 320px !important;
    }
}
@media (min-width: 1200px) {
    .display-2 {
        font-size: 2.5rem !important;
    }
}

.img-s{
    border:0;
    padding: 0;
    height: 163px;
    width: 350px;
    box-shadow: 3px 3px #C3CDD5, .1em 0 .4em #C3CDD5;
}
